* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f172a;
    --secondary-color: #f1f5f9;
    --background-color: #f9fafb;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    height: 100vh;
    padding: 1rem;
}
